<!DOCTYPE html>
<html>
  <head>
    <title>WishpondInterviewProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="site-header">
        <h1><%= link_to "Wishpond Interview Project", root_path %></h1>

        <ul class="navigation-menu">
          <li><%= link_to "Uploads", uploads_path %></li>
          <li><%= link_to "Plays", plays_path %></li>
        </ul>
      </div>

      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>

      <%= yield %>

    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
